<div class="row">
    <div class="col-lg-6">
        <label *ngIf="sttSections">
            Total STTS ({{sttSections.length}})
        </label>
        <input type="text" id="searchLookup"
            class="form-control input-sm" 
            style="width: 60%;"
            [(ngModel)]="searchLookup"
            placeholder="Search by any key" />
    </div>
    <div class="col-lg-6" style="text-align: end;margin-top: 25px;">
        <!-- working -->
        <button *ngIf="refreshButton && refreshButton.active"
            type="button"
            class="form-control input-sm"
            style="width: auto;display: inline;margin-right: 7px;"
            (click)="refreshAction()">
            <span id="loading" class="glyphicon glyphicon-refresh"></span>
            {{refreshButton.title}}
        </button>
        <!-- working -->
        <button *ngIf="addButton && addButton.active"
            type="button"
            class="form-control input-sm"
            style="width: auto; background: #cb0f43;color: white;
            display: inline;margin-right: 7px;" 
            (click)="addAction()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            {{addButton.title}}
        </button>
        <div *ngIf="dropdownButton && dropdownButton.active"
            class="dropdown" style="display: inline;">
            <button class="btn btn-primary dropdown-toggle"
                style="padding: 4px 5px;border-radius: 3px;background: #4750b6;"                
                type="button" data-toggle="dropdown">
                {{dropdownButton.title}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="left: -38px;">
                <li *ngFor="let menu of dropdownButton.menus">
                    <a (click)="menuAction(menu)">{{menu.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<table id="stts" style="font-size: 12px;margin-top: 10px;"
    class="table table-responsive table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th style="width: 4%;">-</th>
            <th style="width: 4%;"># No</th>
            <th>Order</th>
            <th>Section Name</th>
            <th>Defult</th>
            <th>Created Date</th>
            <th>Total STT</th>
            <th>Total Form</th>
            <th>Total Control</th>
            <th style="width: 10%;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sttSection of sttSections | searchFilter: searchLookup; let i = index">
            <td style="text-align: center;">
                <div class="Yf">
                    <div [ngClass]="{
                        'Yg_inactive' : sttSection.status.lookupValue === 0,
                        'Yg_active' : sttSection.status.lookupValue === 1,
                        'Yg_delete': sttSection.status.lookupValue === 2
                    }"></div>
                </div>
            </td>
            <td>{{sttSection.sttSId}}</td>
            <td style="text-align: center;">
                {{sttSection.sttSOrder}}
            </td>
            <td>{{sttSection.sttSName}}</td>
            <td style="text-align: center;">
                {{sttSection.sttsDefault.description}}
            </td>
            <td style="text-align: center;">
                {{sttSection.dateCreated | date:'dd-MM-yyyy'}}
            </td>
            <td style="text-align: center;">
                {{sttSection.totalSTT}}
            </td>
            <td style="text-align: center;">
                {{sttSection.totalForm}}
            </td>
            <td style="text-align: center;">
                {{sttSection.totalControl}}
            </td>
            <td style="text-align: center;">
                <div class="btn-group btn-group-xs" 
                    role="group" style="text-align: center">
                    <button type="button" class="btn btn-default"
                        (click)="editAction(sttSection)">
                        <span class="glyphicon glyphicon-edit"
                        style="color:blue"></span>
                    </button>
                    <!-- add the method for delete the queue detail -->
                    <button type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#deleteAction"
                        [disabled]="sttSection.status.lookupValue === 2"
                        (click)="deleteAction(sttSection)">
                        <span class="glyphicon glyphicon-trash"
                        style="color: #dc3545;"></span>
                    </button>
                    <!--  -->
                    <button type="button"
                        class="btn btn-default dropdown-toggle" 
                        data-toggle="dropdown"
                        [disabled]="sttSection.status.lookupValue === 2">
                        <span class="glyphicon glyphicon-cog" 
                        style="color: black;"></span>
                    </button>
                    <ul class="dropdown-menu" style="left: -100px;">
                        <li *ngFor="let menu of actionMenu">
                            <a (click)="menuAction(menu, sttSection)">
                                <samp [ngClass]="menu.icon"></samp> 
                                {{menu.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="deleteAction"
    role="dialog" style="top: 85px;">
    <del-box
        [title]="title"
        [subTitle]="subTitle"
        (deleteEvent)="deleteActionTriger()">
    </del-box>
</div>
