<div class="row">
    <div class="col-lg-8">
        <h5 class="card-title" style="font-size: large;">
            Form Control
        </h5>
    </div>
    <div class="col-lg-4" style="margin-top: 5px;">
        <button id="download" type="button"
            class="form-control input-sm"
            style="width: auto;float: right;margin-left: 5px;
                background: #337ab7;color: white;" 
                routerLink="/profile/lookup/lookupBatch">
            <span class="glyphicon glyphicon-cog"></span>
            Batch Action
        </button>
        <button type="button" class="form-control input-sm"
            style="width: auto;float: right;margin-left: 5px;
            background: #cb0f43;color: white;" 
            data-toggle="modal" data-target="#lookupDatas"
            (click)="addLookupDatas()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add Lookup
        </button>
        <button type="button"
            class="form-control input-sm"
            style="width: auto;float: right;margin-left: 5px;"
            (click)="fetchAllLookup()">
            <span id="loading" class="glyphicon glyphicon-refresh"></span>
            Refresh</button>
    </div>
</div>
<hr style="margin-top: 10px;">