<style>
    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .mt-3 {
        margin-top: 1rem !important;
    }

    .text-secondary {
        color: #6c757d !important;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
</style>
<div class="container-fluid">
    <div class="row" style="margin-top: 25px;">
        <div class="col-lg-12">
            <div class="row gutters-sm">
                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <!-- sid -->
                                <div class="col-xs-2 col-sm-2 sidebar-offcanvas" id="sidebar"
                                    style="padding-right: inherit;">
                                    <div class="list-group" style="margin-bottom: 0px;">
                                        <a *ngFor="let taskType of sttSidebar; let i = index" [id]="taskType.type"
                                            class="list-group-item" [attr.disabled]="taskType?.disabled ? true : null"
                                            [ngClass]="taskType.type === selectedMenu.type 
                                                && selectedMenu.active === true ? 'active': ''"
                                            [routerLink]="taskType.router" (click)="changeTask(taskType, i)"
                                            style="padding: 5px 10px;">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            {{taskType.title}}
                                        </a>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-xs-6 col-sm-6">
                                            <button type="button" class="form-control input-sm" 
                                                style="background: #4750b6;color: white;"
                                                data-toggle="collapse" data-target="#interaction">
                                                Interaction
                                            </button>
                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <button type="button" class="form-control input-sm"
                                                style="background: #4750b6;color: white;"
                                                data-toggle="collapse" data-target="#evn">
                                                Environment
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    <div id="interaction" class="collapse" style="overflow-y: scroll;max-height: 200px;">
                                        <p>Exmple For Interactions</p>
                                        <ul style="padding-inline-start: 20px;">
                                            <li>'form => form.name && form.name.length > 0'</li>
                                            <li>'true'</li>
                                            <li>'form => form.name && form.name === 'XYZ''</li>
                                        </ul>
                                    </div>
                                    <div id="evn" style="overflow-y: scroll;max-height: 200px;" 
                                        class="collapse"  *ngIf="envVarForm">
                                        <form [formGroup]="envVarForm">
                                            <div formArrayName="envVaraibles">
                                                <table id="evnId" style="font-size: 12px;margin-top: 5px;"
                                                    class="table table-responsive table table-striped table-bordered table-sm">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="3">
                                                                Environment Varaible
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Key</td>
                                                            <td>Value</td>
                                                            <td>-</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let envVaraible of envVarForm.get('envVaraibles').controls; let j = index"
                                                            [formGroup]="envVaraible" id="envVaraible-{{j}}">
                                                            <td>{{envVaraible.value.envKey}}</td>
                                                            <td><input type="text" [formControl]="envVaraible.controls.envValue" style="float: right;"></td>
                                                            <td>
                                                                <button type="button"
                                                                    (click)="updateAppUserEnvWithUserId(envVaraible.value)">
                                                                    <span class="glyphicon glyphicon-ok-circle" style="color:#4750b6"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- main -->
                                <div class="col-xs-12 col-sm-10">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>