<!-- breadcrumb -->
<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/jobList">Job List</a></li>
    <li><a [href]="" (click)="backClicked()">Job History</a></li>
    <li class="active">Job Logs</li>
</ol>
<div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-lg-6" *ngIf="sourceJob">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6" style="text-align: start;margin-top: 2px;">
                        SourceJob Detail
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding-left: 25px;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>JobName: {{sourceJob?.jobId}} - {{sourceJob?.jobName}}</label>
                        </div>
                        <div class="form-group">
                            <label>TaskName: {{sourceJob?.taskDetail?.taskDetailId}} - {{sourceJob?.taskDetail?.taskName}}</label>
                        </div>
                        <div class="form-group">
                            <label style="color: rgb(139, 34, 34);">LastRun: {{sourceJob?.lastJobRun | date:'yyyy-MM-dd HH:mm:ss'}}</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Execution:
                                <span class="badge" [ngClass]="sourceJob?.execution == 'Manual' ? 
                                    'badge-success' : 'badge-warning'">{{sourceJob?.execution}}
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>R-Status: 
                                <span *ngIf="sourceJob?.jobRunningStatus" class="badge"
                                    [ngClass]="{
                                        'badge-info' : sourceJob?.jobRunningStatus === 'Queue',
                                        'badge-start' : sourceJob?.jobRunningStatus === 'Start',
                                        'badge-warning' : sourceJob?.jobRunningStatus === 'Running',
                                        'badge-danger' :  sourceJob?.jobRunningStatus === 'Failed',
                                        'badge-success' : sourceJob?.jobRunningStatus === 'Completed',
                                        'badge-interrupt' : sourceJob.jobRunningStatus === 'Interrupt'
                                    }">
                                    {{ sourceJob?.jobRunningStatus }}
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label style="color: rgb(139, 34, 34);">NextFlight: {{sourceJob?.scheduler?.recurrenceTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" *ngIf="sourceJobQueue">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6" style="text-align: start;margin-top: 2px;">
                        JobQueue Detail
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding-left: 25px;">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>QueueId: {{sourceJobQueue?.jobQueueId}}</label>
                        </div>
                        <div class="form-group">
                            <label style="color: rgb(139, 34, 34);">StartTime: {{sourceJobQueue?.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
                        </div>
                        <div class="form-group">
                            <label style="color: rgb(139, 34, 34);">Endtime: {{sourceJobQueue?.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label>QMessage: {{sourceJobQueue?.jobStatusMessage}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label style="color: rgb(139, 34, 34);">Skip: {{sourceJobQueue?.skipTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
                        </div>
                        <div class="form-group">
                            <label>R-Status: 
                                <span *ngIf="sourceJobQueue?.jobStatus" class="badge"
                                    [ngClass]="{
                                        'badge-primary' : sourceJobQueue?.jobStatus === 'InFlight', 
                                        'badge-info' : sourceJobQueue?.jobStatus === 'Queue',
                                        'badge-start' : sourceJobQueue?.jobStatus === 'Start',
                                        'badge-warning' : sourceJobQueue?.jobStatus === 'Running',
                                        'badge-danger' :  sourceJobQueue?.jobStatus === 'Failed',
                                        'badge-success' : sourceJobQueue?.jobStatus === 'Completed',
                                        'badge-interrupt' : sourceJob.jobRunningStatus === 'Interrupt'
                                    }">
                                    {{ sourceJobQueue?.jobStatus }}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4" *ngIf="auditLogs">
    <div class="form-group">
        <label for="searchAuditLogsForm" *ngIf="auditLogs">Total Logs : ({{auditLogs.length}})</label>
        <input type="text" id="searchAuditLogsForm" class="form-control input-sm"
            placeholder="Search" [(ngModel)]="searchAuditLogsForm"/>
    </div>
</div>
<div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-lg-12">
        <table class="table table-bordered table-sm table-responsive table-striped" style="font-size: 10px;">
            <thead>
                <tr>
                    <th style="width: 1px;">No#</th>
                    <th>Message Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let audit of auditLogs | searchFilter: searchAuditLogsForm;  let i = index">
                    <td>{{i+1}}</td>
                    <td [innerHTML]="audit.logsDetail"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>