<nav class="breadcrumb-bar">
    <a routerLink="/home">Home</a>
    <span class="crumb-sep">/</span>
    <a routerLink="/setting">Setting</a>
    <span class="crumb-sep">/</span>
    <span class="crumb-current">Lookup</span>
</nav>

<look-up *ngIf="lookupAction"
    [lookUpAction]="lookupAction"
    [recivedLookupData]="lookupData"
    (senderEvent) = "receiverEvent($event)">
</look-up>

<div class="toolbar">
    <div class="form-group" style="margin-bottom: 0;">
        <label for="searchLookupDataForm" class="control-label">Total Lookup ({{lookupDatas.length}})</label>
        <input type="text" id="searchLookupDataForm" class="form-control input-sm" style="width: 280px;"
            placeholder="Search" [(ngModel)]="searchLookupDataForm"/>
    </div>
    <span class="toolbar-spacer"></span>
    <button type="button" class="btn btn-sm btn-default" (click)="fetchLookupDatas()">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
    </button>
    <button type="button" class="btn btn-sm btn-teal"
        data-toggle="modal" data-target="#lookupDatas"
        (click)="addLookupDatas()">
        <span class="glyphicon glyphicon-plus"></span> Add Lookup
    </button>
</div>
<span class="help-text" style="margin-bottom: 10px;">
    <span class="glyphicon glyphicon-info-sign"></span>
    Lookup helps to configure system settings like (thread per pool &amp; scheduler last run &amp; scheduler daily etc.)
</span>

<div class="table-responsive scroll-table">
    <table id="lookup" class="table table-striped table-bordered table-hover table-modern" style="font-size: 12px;">
        <thead>
            <tr>
                <th style="width: 4%;"># No</th>
                <th>Lookup Type</th>
                <th>Lookup Value</th>
                <th>Description</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lookupData of lookupDatas | searchFilter: searchLookupDataForm; let i = index">
                <td>{{lookupData.lookupId}}</td>
                <td>{{lookupData.lookupType}}</td>
                <td>{{lookupData.lookupValue}}</td>
                <td>{{lookupData.description}}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default btn-icon ic-edit"
                            data-toggle="modal" data-target="#lookupDatas"
                            (click)="editLookupData(lookupData)" title="Edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-icon ic-add"
                            (click)="editSubLookupData(lookupData)" title="Sub Lookup">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
