<div class="col-md-8" style="padding-left: 10px;
    height: 500px;overflow-y: auto;border-top: 2px solid #ddd;">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 10px;">
            <h4>Add Lookup</h4>
            <hr>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="lookup_type">Lookup Type</label>
                <input type="lookup_type" class="form-control input-sm" maxlength="254"/>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="description">Description</label>
                <input type="description" class="form-control input-sm" maxlength="254"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="parentLookup">Parent Lookup</label>
                <input type="parentLookup" class="form-control input-sm" maxlength="254"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="lookup_value">Lookup Value</label>
                <textarea type="lookup_value" class="form-control input-sm" cols="12" rows="14"
                    placeholder="Enter Lookup Value"></textarea>
            </div>
        </div>
        <div class="col-md-12" style="text-align: end;">
            <button type="button" class="btn btn-default">Clear</button>
            <button type="button" class="btn btn-default"
                style="margin-left: 10px;background: #47b679;color: white;">Save</button>
        </div>
    </div>
</div>
