<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
	<li><a routerLink="/setting">Setting</a></li>
    <li class="active">Lookp Xml</li>
	<button type="button" class="btn btn-sm btn-default"
		style="float: right;margin-right: 12px;" title="Add More"
		(click)="tageFormsAddItem()">
		<span class="glyphicon glyphicon-plus-sign"></span> Add More
	</button>
</ol>
<div class="row" style="margin-top: 10px;margin-right: 0px;margin-left: 0px;">
	<div class="col-md-12">
	   <form [formGroup]="xmlForm" (ngSubmit)="submintTageForms(xmlForm.value)" 
			#uploadDocumentsForm="ngForm" ngNativeValidate>
			<div class="row">
				<div class="col-md-7" style="overflow-y: scroll;max-height: 400px;">
					<div id="main-form-content" formArrayName="tagsInfo">
					   <table id="tbl-upload" class="table">
						  <tbody *ngFor="let tag of xmlForm.get('tagsInfo')['controls']; 
							  let i = index;" [formGroup]="tag">
							 <tr *ngIf="i==0" class="active">
								<th>#</th>
								<th>TagKey</th>
								<th>TagParent</th>
								<th>TagValue</th>
								<th style="text-align: center;">Action</th>
							 </tr>
							 <tr>
								<td><b>{{i}}</b></td>
								<td>
									<input type="text" class="form-control input-sm" name="tagKey"
									formControlName="tagKey" placeholder="Enter Tag Key">
								</td>
								<td>
									<input type="text" class="form-control input-sm" name="tagParent"
									formControlName="tagParent" placeholder="Parent Tag If Any">
								</td>
								<td>
									<input type="text" class="form-control input-sm" name="tagValue"
									formControlName="tagValue" placeholder="Enter Tag Value">
								</td>
								<td>
								    <button type="button" class="button button5" (click)="tageFormAddItem(i)">+</button>
									&nbsp;
									<button type="button" class="button button5" (click)="tageFormRemoveItem(i)">-</button>
								</td>
							 </tr>                        
						  </tbody>
					   </table>
					</div>
					<input type="submit" class="form-control input-sm"
						value="Show Xml OutPut" [disabled]="xmlForm?.invalid">
				</div>
				<div class="col-md-5">
					<textarea class="form-control input-sm" rows="17"
						style="font-size:12px;font-family:monospace;white-space:pre;height: auto;
						border-color: #ddd;background-color: #ddd;">{{xmlString}}
					</textarea>
					<button [disabled]="xmlForm?.invalid"
						style="width: 100%;height: 40px"
						class="form-control input-sm"
						(click)="createFile()">
						<b>Downalod XML File</b>
					</button>
				</div>
			</div>
	   </form>
	</div>
 </div>