<style>
    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .mt-3 {
        margin-top: 1rem !important;
    }

    .text-secondary {
        color: #6c757d !important;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
</style>

<div class="row" style="margin-top: 5px;" *ngIf="sttfForm">
    <form [formGroup]="sttfForm">
        <div class="col-lg-12">
            <div id="basic" class="borderd-content">
                <div class="title" style="color: #cb0f43;">{{formTitle}}</div>
                <div class="content" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="sttfName">Form Name</label>
                                <input type="text" id="sttfName" maxlength="40"
                                    formControlName="sttfName"
                                    class="form-control input-sm"
                                    placeholder="Enter form name"
                                    oninput="this.value = this.value.toUpperCase()"/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" id="description" maxlength="40"
                                    formControlName="description" class="form-control input-sm"
                                    placeholder="Enter description"/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" *ngIf="formTypeList">
                                <label for="formType">FormType</label>
                                <select id="formType" class="form-control input-sm"
                                    formControlName="formType">
                                    <option *ngFor="let formType of formTypeList.subLookupData"
                                        [value]="formType.lookupValue">{{formType.description}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>