<style>

    .mwi6gz8 {
        height: 60px;
        display: flex;
        flex: none;
        align-items: center;
        border: 2px solid #ddd;

    }

    .mxdld69 {
        flex: 1 1 auto;
        height: 450px;
        overflow-y: auto;
    }

    .n1fjobqo {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }


    .i16w2k3p {
        background: #eee;
        border-bottom: 1px solid #0c0c0c;
        color: #1a2e44;
        display: block;
        line-height: 1.43;
        padding: 8px 15px;
        position: relative;
        transition: all .15s linear;
        word-break: break-word;
        padding-bottom: 1px;
    }

    .m1585xar {
        margin-top: 5px;
        font-size: 12px;
    }

    li:hover {
        color: #d9534f;
        background: white;
    }

        /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

</style>

<div class="panel">
    <div class="panel-heading" style="font-size: 17px;">
        <div class="row">
            <div class="col-lg-8" style="text-align: start;">
                Lookup Setting
            </div>
            <div class="col-lg-4">
                <button class="form-control input-sm"
                    style="background: black;color: white;
                        width: auto;float: right;margin-left: 10px;">
                    <span class="glyphicon glyphicon-upload"
                        style="color:white"></span>
                    Upload File
                </button>
                <button class="form-control input-sm"
                    style="background: #cb0f43;color: white;
                        width: auto;float: right;">
                    <span class="glyphicon glyphicon-upload"
                        style="color:white"></span>
                    Downalod File
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body" style="padding-bottom: 10px;padding-top: 0px;">
        <div class="row">
            <div class="col-md-4" style="padding-right: 0px;">
                <div class="mwi6gz8">
                    <input type="text" class="form-control input-sm"
                        style="margin-right: 10px;margin-left: 10px;"
                        placeholder="Enter key for serach">
                    <button type="button" class="form-control input-sm"
                        style="margin-right: 5px;width: auto;
                        background: #337ab7;color: white;">+</button>
                </div>
                <div class="mxdld69">
                    <ul class="messages_list n1fjobqo">
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">QUEUE_FETCH_LIMIT</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">500</p>
                            <p class=" m1585xar subject m1dxew2f">QUEUE_FETCH_LIMIT For FETCH QUEUE LIMIT</p>
                        </li>
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">SCHEDULER_LAST_RUN_TIME</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">2023-03-26 21:37:25.525 +0300</p>
                            <p class=" m1585xar subject m1dxew2f">SCHEDULER_LAST_RUN_TIME For SCHEDULER LAST RUN TIME</p>
                        </li>
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">EMAIL_SENDER</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">jakartato@example.com</p>
                            <p class=" m1585xar subject m1dxew2f">EMAIL_SENDER for send the email</p>
                        </li>
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">QUEUE_FETCH_LIMIT</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">500</p>
                            <p class=" m1585xar subject m1dxew2f">QUEUE_FETCH_LIMIT For FETCH QUEUE LIMIT</p>
                        </li>
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">SCHEDULER_TIMEZONE</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">Scheduler TimeZone</p>
                            <p class=" m1585xar subject m1dxew2f">Scheduler TimeZone Detail</p>
                        </li>
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">ASIA_QATAR</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">Asia/Qatar</p>
                            <p class=" m1585xar subject m1dxew2f">(GMT+3:00) Asia/Qatar :: Arabia Standard Time</p>
                        </li>
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">ASIA_QATAR</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">Asia/Qatar</p>
                            <p class=" m1585xar subject m1dxew2f">(GMT+3:00) Asia/Qatar :: Arabia Standard Time</p>
                        </li>
                        <li class="i18m0o91 i16w2k3p">
                            <span class="subject m1dxew2f">ASIA_QATAR</span>
                            <div class="btn-group btn-group-xs" role="group" style="text-align: center;float: right;">
                                <button type="button" class="btn btn-default"
                                    data-toggle="modal" data-target="#lookupDatas">
                                    <span class="glyphicon glyphicon-edit"
                                    style="color:blue"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"
                                    style="color:green"></span>
                                </button>
                            </div>
                            <p class="m1585xar subject m1dxew2f">Asia/Qatar</p>
                            <p class=" m1585xar subject m1dxew2f">(GMT+3:00) Asia/Qatar :: Arabia Standard Time</p>
                        </li>
                    </ul>
                </div>
            </div>
            <cu-lookup></cu-lookup>
            <!-- <sub-lookup></sub-lookup> -->
        </div>        
	</div>
</div>
