<!-- Modal -->
<div class="modal-dialog" style="width: 450px;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header" style="background: #555;">
            <button type="button" #closebutton 
                class="close"
                data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure to delete?
                <br>{{subTitle}}
            </p>
            <div class="row">
                <div class="col-lg-12">
                    <button id="closeModal" type="button"
                        style="float: right;" class="btn btn-sm btn-danger"
                        (click)="deleteAction()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>