<style>
    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .rounded-circle {
        border-radius: 50%!important;
    }
    .mt-3 {
        margin-top: 1rem!important;
    }
    .text-secondary {
        color: #6c757d!important;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
</style>

<div class="row gutters-sm" style="margin-top: 5px;" *ngIf="sttForm">
    <form [formGroup]="sttForm" (ngSubmit)="onSubmit()">
        <div class="col-lg-12">
            <div id="basic" class="borderd-content">
                <div class="title" style="color: #cb0f43;">{{title}} Basic Detail</div>
                <div class="content" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="serviceName">Service Name</label>
                                <input type="text" id="serviceName" maxlength="40"
                                    formControlName="serviceName"
                                    class="form-control input-sm"
                                    placeholder="Enter service name"
                                    oninput="this.value = this.value.toUpperCase()" 
                                    [ngClass]="{ 'is-invalid': submitted && f.serviceName.errors }" />
                                <div *ngIf="submitted && f.serviceName.errors" class="invalid-feedback">
                                    <div *ngIf="f.serviceName.errors.required"
                                        style="color: red;">ServiceName is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" id="description" maxlength="40"
                                    formControlName="description"
                                    class="form-control input-sm"
                                    placeholder="Enter description"
                                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required"
                                        style="color: red;">Description is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="taskTypeOption">
                            <div class="form-group">
                                <label for="taskType">TaskType</label>
                                <select class="form-control input-sm" id="taskType"
                                    formControlName="taskType"
                                    [ngClass]="{ 'is-invalid': submitted && f.taskType.errors }"
                                    [attr.disabled]="action === 2 ? true : null"
                                    (change)='onTaskTypeSelected($event)'>
                                    <!-- true -> null for 2nd value -->
                                    <option hidden value="" disabled selected>
                                        {{taskTypeOption.parentLookupData.description}}
                                    </option>
                                    <option *ngFor="let taskType of taskTypeOption.subLookupData"
                                        [value]="taskType.lookupValue">{{taskType.description}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.taskType.errors" class="invalid-feedback">
                                    <div *ngIf="f.taskType.errors.required"
                                        style="color: red;">TaskType is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" *ngIf="homePageOption">
                                <label for="homePage">HomePage</label>
                                <select class="form-control input-sm"
                                    id="homePage" formControlName="homePage">
                                    <option hidden value="" disabled selected>
                                        {{homePageOption.parentLookupData.description}}
                                    </option>
                                    <option *ngFor="let homePage of homePageOption.subLookupData"
                                        [value]="homePage.lookupType">{{homePage.description}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="serviceId">Service Id</label>
                                <input type="text" id="serviceId" maxlength="10"
                                    formControlName="serviceId"
                                    class="form-control input-sm"
                                    placeholder="Enter Service Id"/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" *ngIf="credentailOption">
                                <label for="credentialId">Credential</label>
                                <select class="form-control input-sm"
                                    id="credentialId" formControlName="credentialId">
                                    <option hidden value="" disabled selected>
                                        Select Credentail
                                    </option>
                                    <option *ngFor="let credential of credentailOption"
                                        [value]="credential.credentialId">{{credential.credentialName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="action === 2">
                            <div class="form-group" *ngIf="statusList">
                                <label for="status">Status</label>
                                <select id="status" class="form-control input-sm"
                                    formControlName="status"
                                    [ngClass]="{ 'is-invalid': submitted && f.status.errors }"
                                    [attr.disabled]="f.status.value === 2 ? true : null">
                                    <option hidden value="" disabled selected>
                                        {{statusList.parentLookupData.description}}
                                    </option>
                                    <option *ngFor="let status of statusList.subLookupData"
                                        [value]="status.lookupValue">{{status.description}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                    <div *ngIf="f.status.errors.required" style="color: red;">
                                        Status is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="action === 2">
                            <div class="form-group" *ngIf="defultOption">
                                <label for="defaultStt">Default</label>
                                <select id="defaultStt" class="form-control input-sm"
                                    formControlName="defaultStt"
                                    [ngClass]="{ 'is-invalid': submitted && f.defaultStt.errors }">
                                    <option hidden value="" disabled selected>
                                        {{defultOption.parentLookupData.description}}
                                    </option>
                                    <option *ngFor="let defultOpt of defultOption.subLookupData"
                                        [value]="defultOpt.lookupValue">{{defultOpt.description}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.defaultStt.errors" class="invalid-feedback">
                                    <div *ngIf="f.defaultStt.errors.required" style="color: red;">
                                        Default is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <!-- aws -->
            <div id="aws" class="borderd-content" style="margin-top: 20px;"
                *ngIf="selectedTaskType === '0' || selectedTaskType === '1' || selectedTaskType === '2'">
                <div class="title" style="color: #cb0f43;" *ngIf="taskTypeOption">{{title}} {{ getTitleDetali() }}</div>
                <div class="content" style="margin-top: 10px;" formGroupName="apiTaskType">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="apiUrl">Endpoint</label>
                                <input type="text" id="apiUrl" maxlength="255"
                                    formControlName="apiUrl"
                                    class="form-control input-sm"
                                    placeholder="Enter queue endpoint"
                                    [ngClass]="{ 'is-invalid': submitted && apiTaskType.get('apiUrl').errors }" />
                                <div *ngIf="submitted && apiTaskType.get('apiUrl').errors" class="invalid-feedback">
                                    <div *ngIf="apiTaskType.get('apiUrl').errors.required"
                                        style="color: red;">ApiUrl is required
                                    </div>
                                    <div *ngIf="apiTaskType.get('apiUrl').errors.pattern"
                                        style="color: red;">ApiUrl not valided
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="httpMethodOption">
                            <div class="form-group">
                                <label for="httpMethod">Request Method</label>
                                <select id="httpMethod"
                                    formControlName="httpMethod"
                                    class="form-control input-sm"
                                    [ngClass]="{ 'is-invalid': submitted && apiTaskType.get('httpMethod').errors }">
                                    <option hidden value="" disabled selected>
                                        {{httpMethodOption.parentLookupData.description}}
                                    </option>
                                    <option *ngFor="let httpOption of httpMethodOption.subLookupData"
                                        [value]="httpOption.lookupValue">{{httpOption.description}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && apiTaskType.get('httpMethod').errors" class="invalid-feedback">
                                    <div *ngIf="apiTaskType.get('httpMethod').errors.required"
                                        style="color: red;">Request method is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- kafka -->
            <div class="borderd-content" style="margin-top: 20px;" *ngIf="selectedTaskType === '3'">
                <div class="title" style="color: #cb0f43;">{{title}} Kafka Queue</div>
                <div class="content" style="margin-top: 10px;" formGroupName="kafkaTaskType">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="numPartitions">Partitions</label>
                                <input type="number" id="numPartitions" min="1" max="10"
                                    formControlName="numPartitions"
                                    class="form-control input-sm"
                                    placeholder="Enter partitions"
                                    [ngClass]="{ 'is-invalid': submitted && kafkaTaskType.get('numPartitions').errors }" />
                                <div *ngIf="submitted && kafkaTaskType.get('numPartitions').errors" class="invalid-feedback">
                                    <div *ngIf="kafkaTaskType.get('numPartitions').errors.required"
                                        style="color: red;">Num Partitions is required
                                    </div>
                                    <div *ngIf="kafkaTaskType.get('numPartitions').errors.min"
                                        style="color: red;">Num Partitions min 1
                                    </div>
                                    <div *ngIf="kafkaTaskType.get('numPartitions').errors.max"
                                        style="color: red;">Num Partitions max 10
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="topicName">Topic Name</label>
                                <input type="text" id="topicName" maxlength="40"
                                    formControlName="topicName"
                                    class="form-control input-sm"
                                    placeholder="Enter topic name"
                                    (input)="changeOnTopicNameValue($event.target.value)"
                                    [ngClass]="{ 'is-invalid': submitted && kafkaTaskType.get('topicName').errors }" />
                                <div *ngIf="submitted && kafkaTaskType.get('topicName').errors" class="invalid-feedback">
                                    <div *ngIf="kafkaTaskType.get('topicName').errors.required"
                                        style="color: red;">TopicName is required
                                    </div>
                                    <div *ngIf="kafkaTaskType.get('topicName').errors.pattern"
                                        style="color: red;">TopicName white space not allowed
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="topicPattern">Topic Pattern</label>
                                <input type="text" id="topicPattern" maxlength="40"
                                    formControlName="topicPattern"
                                    [(ngModel)]="topicPattern"
                                    class="form-control input-sm"
                                    placeholder="Enter topic pattern" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top: 15px;margin-bottom: 5px;">
            <button type="reset" 
                [attr.disabled]="f?.status?.value === 2 ? true : null"
                class="btn btn-sm btn-default">CLEAR</button>
            <button type="submit" [disabled]="loading"
                [attr.disabled]="f?.status?.value === 2 ? true : null"
                class="btn btn-sm btn-danger"
                style="float:right">
                {{breadcrumb | uppercase}}
            </button>
        </div>
    </form>
</div>