﻿<!-- breadcrumb -->
<ol class="breadcrumb">
    <li class="active">Home</li>
    <b style="float: right;">Date Range: {{last_7th_date}} - {{today_date}}</b>
</ol>
<style>
    .card-background {
        border-radius: 3px;
        background: #FFF;
        border: 1px solid #DCDFE6;
    }
</style>
<div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-lg-3">
        <div id="sourceJobStatusStatistics"
            style="background-color: white;"
            class="demo-chart"
            echarts [options]="sourceJobStatusStatistics">
        </div>
    </div>
    <div class="col-lg-3">
        <div id="sourceJobRunningStatistics"
            style="background-color: white;"
            class="demo-chart"
            echarts [options]="sourceJobRunningStatistics">
        </div>
    </div>
    <div class="col-lg-6">
        <div id="sourceJobWeeklyRunningStatistics"
            style="background-color: white;"
            class="demo-chart"
            echarts [options]="sourceJobWeeklyRunningStatistics">
        </div>
    </div>
</div>
<div class="row" style="margin-right: 0px;margin-left: 0px;margin-top: 10px;">
    <div class="col-lg-12" >
        <div id="sourceJobWeeklyHrsRunningStatistics"
            style="background-color: white;"
            class="demo-chart"
            echarts [options]="sourceJobWeeklyHrsRunningStatistics"
            (chartClick)="onChartEvent($event, 'sourceJobWeeklyHrsRunningStatistics')">
        </div>
    </div>
    <div class="col-lg-12" style="margin-top: 10px;" *ngIf="sourceJobWeeklyRunningStatisticsDimensionData">
        <div class="card"  style="background-color: white;">
            <div class="card-body">
                <input type="text" id="searchSourceJobDetails" class="form-control input-sm"
                placeholder="Search" [(ngModel)]="searchSourceJobDetails"/>
                <table class="table table-bordered table-sm table-responsive table-striped"
                    style="font-size: 10px;" id="sourceJobWeeklyRunningStatisticsDimensionData">
                    <thead>
                        <tr>
                            <th>Job Id</th>
                            <th>Job Name</th>
                            <th>Queue</th>
                            <th>Running</th>
                            <th>Failed</th>
                            <th>Completed</th>
                            <th>Skip</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sourceJob of sourceJobWeeklyRunningStatisticsDimensionData | searchFilter: searchSourceJobDetails;">
                            <td>{{sourceJob.jobId}}</td>
                            <td>{{sourceJob.jobName}}</td>
                            <td style="text-align: center;"
                                (click)="sourceJobCountAction(sourceJob, 'Queue')">
                                {{sourceJob.queue}}
                            </td>
                            <td style="text-align: center;"
                                (click)="sourceJobCountAction(sourceJob, 'Running')">
                                {{sourceJob.running}}
                            </td>
                            <td style="text-align: center;"
                                (click)="sourceJobCountAction(sourceJob, 'Failed')">
                                {{sourceJob.failed}}
                            </td>
                            <td style="text-align: center;"
                                (click)="sourceJobCountAction(sourceJob, 'Completed')">
                                {{sourceJob.completed}}
                            </td>
                            <td style="text-align: center;"
                                (click)="sourceJobCountAction(sourceJob, 'Skip')">
                                {{sourceJob.skip}}
                            </td>
                            <td style="text-align: center;"
                                (click)="sourceJobCountAction(sourceJob, 'Total')">
                                {{sourceJob.total}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>