<div class="row">
    <div class="col-lg-6">
        <label *ngIf="sstFormList">
            Total STTF ({{sstFormList.length}})
        </label>
        <input type="text" id="searchSTTF" class="form-control input-sm" 
            style="width: 60%;" [(ngModel)]="searchSTTF"
            placeholder="Search by any key" />
    </div>
    <div class="col-lg-6" style="text-align: end;margin-top: 25px;">
        <!-- working -->
        <button *ngIf="refreshButton && refreshButton.active" type="button" class="form-control input-sm"
            style="width: auto;display: inline;margin-right: 7px;" (click)="refreshAction()">
            <span id="loading" class="glyphicon glyphicon-refresh"></span>{{refreshButton.title}}
        </button>
        <!-- working -->
        <button *ngIf="addButton && addButton.active" type="button" 
            class="form-control input-sm" style="width: auto; background: #cb0f43;color: white;
            display: inline;margin-right: 7px;" (click)="addAction()">
            <span class="glyphicon glyphicon-plus-sign"></span>{{addButton.title}}
        </button>
        <div *ngIf="dropdownButton && dropdownButton.active" class="dropdown" style="display: inline;">
            <button class="btn btn-primary dropdown-toggle"
                style="padding: 4px 5px;border-radius: 3px;background: #4750b6;" type="button"
                data-toggle="dropdown">{{dropdownButton.title}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="left: -38px;">
                <li *ngFor="let menu of dropdownButton.menus">
                    <a (click)="menuAction(menu)">{{menu.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<table id="sttf" class="table table-responsive table table-striped table-bordered table-sm"
    style="font-size: 12px;margin-top: 10px;">
    <thead>
        <tr>
            <th style="width: 4%;">-</th>
            <th style="width: 4%;"># No</th>
            <th>Form Name</th>
            <th>Form Type</th>
            <th>HomePage</th>
            <th>Service Id</th>
            <th>Defult</th>
            <th>Created Date</th>
            <th>STT</th>
            <th>Sections</th>
            <th style="width: 10%;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sstForm of pageOfSSTs | searchFilter: searchSTTF; let i = index">
            <td style="text-align: center;">
                <div class="Yf">
                    <div [ngClass]="{
                        'Yg_inactive' : sstForm.status.lookupValue === 0,
                        'Yg_active' : sstForm.status.lookupValue === 1,
                        'Yg_delete': sstForm.status.lookupValue === 2
                    }"></div>
                </div>
            </td>
            <td>{{sstForm.sttfId}}</td>
            <td>{{sstForm.sttfName}}</td>
            <td style="text-align: center;">
                {{sstForm.formType.description}}
            </td>
            <td style="text-align: center;">
                {{sstForm?.homePage?.description}}
            </td>
            <td style="text-align: center;">
                {{sstForm.serviceId}}
            </td>
            <td style="text-align: center;">
                {{sstForm.sttfDefault.description}}
            </td>
            <td style="text-align: center;">
                {{sstForm.dateCreated | date:'dd-MM-yyyy'}}
            </td>
            <td style="text-align: center;">
                {{sstForm.totalStt}}
            </td>
            <td style="text-align: center;">
                {{sstForm.totalSection}}
            </td>
            <td style="text-align: center;">
                <div class="btn-group btn-group-xs" role="group" style="text-align: center">
                    <button type="button" class="btn btn-default" (click)="viewAction(sstForm)"
                        [disabled]="sstForm.status.lookupValue === 0 || sstForm.totalSection === 0">
                        <span class="glyphicon glyphicon-eye-open" style="color: #000000"></span>
                    </button>
                    <button type="button" class="btn btn-default" (click)="editAction(sstForm)">
                        <span class="glyphicon glyphicon-edit" style="color:blue"></span>
                    </button>
                    <!-- add the method for delete the queue detail -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteAction"
                        [disabled]="sstForm.status.lookupValue === 0" (click)="deleteAction(sstForm)">
                        <span class="glyphicon glyphicon-trash" style="color: #dc3545;"></span>
                    </button>
                    <!--  -->
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        [disabled]="sstForm.status.lookupValue === 0">
                        <span class="glyphicon glyphicon-option-vertical" style="color:green"></span>
                    </button>
                    <ul class="dropdown-menu" style="left: -100px;">
                        <li *ngFor="let menu of actionMenu">
                            <a (click)="menuAction(menu, sstForm)">
                                <samp [ngClass]="menu.icon"></samp>
                                {{menu.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11" style="text-align: center;padding-bottom: 0px;">
                <jw-pagination [items]="sstFormList" [pageSize]="10"
                    (changePage)="onChangePage($event)"></jw-pagination>
            </td>
        </tr>
    </tfoot>
</table>
<!-- section detail -->
<div class="panel panel-default" *ngIf="sttfJsonDetail">
    <div class="panel-heading">Form Control Interactions</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-8 col-sm-8" style="overflow-y: scroll; height:500px;">
                <form [formGroup]="sttcInteractonForm">
                    <div formArrayName="groups">
                        <div class="borderd-content" 
                            *ngFor="let group of sttcInteractonForm.get('groups').controls; let i = index" 
                            [formGroup]="group" id="group-{{i}}" style="margin-top: 15px">
                            <div class="title" style="color: #cb0f43;">
                                ({{group.value.groupName}}) 
                            </div>
                            <div class="content" style="margin-top: 10px;">
                                <table id="sttf" class="table table-responsive table table-striped table-bordered table-sm"
                                    style="font-size: 12px;margin-bottom: 0px !important;">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Title</th>
                                            <th style="width: 1px">Hid/Show</th>
                                            <th style="width: 1px">Disabled</th>
                                            <th style="width: 70px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="filedItem">
                                        <tr *ngFor="let filed of group.get('filedItem').controls; let j = index" 
                                            [formGroup]="filed" id="filed-{{j}}">
                                            <td>{{filed.value.sttcId}}</td>
                                            <td>{{filed.value.sttcName}}</td>
                                            <td>{{filed.value.filedType}}</td>
                                            <td>{{filed.value.filedTitle}}</td>
                                            <td><input type="text" [formControl]="filed.controls.visiblePattern"
                                                style="float: right;"></td>
                                            <td><input type="text" [formControl]="filed.controls.disabledPattern"
                                                style="float: right;"></td>
                                            <td>
                                                <button type="button" [disabled]="(filed.get('visiblePattern').value === null || filed.get('visiblePattern').value === '') 
                                                    && (filed.get('disabledPattern').value === null || filed.get('disabledPattern').value === '')"
                                                    (click)="addSTTCInteractions(group.value.auSttsId, filed.value)">
                                                    <span class="glyphicon glyphicon-ok-circle" style="color:#4750b6"></span>
                                                </button>&nbsp;
                                                <button type="button" [disabled]="filed.get('interactionsId').value === null"
                                                    (click)="deleteSTTCInteractions(group.value.auSttsId, filed.value)">
                                                    <span class="glyphicon glyphicon-remove-circle" style="color:rgb(128, 19, 0)"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-sm-4">
                <button class="form-control input-sm"
                    style="background: #4750b6;color: white;"
                    (click)="downloadJson()">Downalod File</button>
                <pre style="overflow-y: scroll; height:500px;">{{sttfJsonDetail | json}}</pre>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteAction" role="dialog" style="top: 85px;">
    <del-box [title]="title" [subTitle]="subTitle" 
        (deleteEvent)="deleteActionTriger()">
    </del-box>
</div>