<!-- add sourceTasktype -->
<div class="modal fade" id="sourceTaskType" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="border: none">
        <form *ngIf="sourceTaskTaypeForm" [formGroup]="sourceTaskTaypeForm" (ngSubmit)="submitSourceTaskType()">
            <div class="modal-header">
                <button type="button" class="close" #closeSourceTaskTaype data-dismiss="modal"
                    (click)="coleseSourceTaskEvent(4)">&times;</button>
                <h4 class="modal-title">{{SOURCEC_TASK_TYPE_TITLE}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="serviceName">ServiceName</label>
                    <input type="text" formControlName="serviceName" class="form-control input-sm"
                        [ngClass]="{ 'is-invalid': sourceTaskTaype.serviceName.errors }" />
                    <div *ngIf="submitted && sourceTaskTaype.serviceName.errors" class="invalid-feedback">
                        <div *ngIf="sourceTaskTaype.serviceName.errors.required" style="color: red;">
                            ServiceName is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="topicName">Topic Name</label>
                    <input type="text" formControlName="topicName" class="form-control input-sm"
                        placeholder="Enter topic name only"
                        [ngClass]="{ 'is-invalid': sourceTaskTaype.topicName.errors }" />
                    <div *ngIf="submitted && sourceTaskTaype.topicName.errors" class="invalid-feedback">
                        <div *ngIf="sourceTaskTaype.topicName.errors.required" style="color: red;">
                            Topic Name is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="partitions">Partitions</label>
                    <input type="text" formControlName="partitions" class="form-control input-sm"
                        placeholder="Enter partition count or start"
                        [ngClass]="{ 'is-invalid': sourceTaskTaype.partitions.errors }" />
                    <div *ngIf="submitted && sourceTaskTaype.partitions.errors" class="invalid-feedback">
                        <div *ngIf="sourceTaskTaype.partitions.errors.required" style="color: red;">
                            Partitions is required
                        </div>
                    </div>
                    <small class="form-text text-muted">
                        Final value will be generated as: <code>topic=&lt;topic-name&gt;&amp;partitions=[&lt;value&gt;]</code>
                    </small>
                </div>
                <input type="hidden" formControlName="queueTopicPartition" />
                <div class="form-group" *ngIf="isEditMode">
                    <label for="taskStatus">TaskStatus</label>
                    <select class="form-control input-sm" formControlName="status" >
                        <option *ngFor="let sourceTaskType of sourceTaskTypeStatus"
                            [value]="sourceTaskType.value">
                            {{sourceTaskType.key}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" formControlName="description" class="form-control input-sm"
                        [ngClass]="{ 'is-invalid': sourceTaskTaype.description.errors }" />
                    <div *ngIf="submitted && sourceTaskTaype.description.errors" class="invalid-feedback">
                        <div *ngIf="sourceTaskTaype.description.errors.required" style="color: red;">
                            Description is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="SchemaPayload">SchemaPayload</label>
                    <textarea type="text" formControlName="schemaPayload" class="form-control input-sm"
                        [ngClass]="{ 'is-invalid': sourceTaskTaype.schemaPayload.errors }"></textarea>
                    <div *ngIf="submitted && sourceTaskTaype.schemaPayload.errors" class="invalid-feedback">
                        <div *ngIf="sourceTaskTaype.schemaPayload.errors.required" style="color: red;">
                            SchemaPayload is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="!isDisable">
                <button type="reset" class="btn btn-default" data-dismiss="modal"
                    (click)="coleseSourceTaskEvent(4)">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>      
    </div>
</div>