<div class="col-md-8" style="padding-right: 10px;padding-left: 10px;
    height: 500px;overflow-y: auto;border-top: 2px solid #ddd;">
    <div class="panel">
        <div class="panel-body" style="border-bottom: 2px solid #eee;">
            <div class="row" style="font-size: small;font-style: normal;">
                <div class="col-lg-2">
                    <label for="html">LookupType</label><br>
                    <label for="html">LookupType</label><br>
                </div>
                <div class="col-lg-4">
                    <label for="html">LookupValue</label><br>
                    <label for="html">LookupType</label><br>
                </div>
                <div class="col-lg-4">
                    <label for="html">Description</label><br>
                    <label for="html">Description</label><br>
                </div>
                <div class="col-lg-2">
                    <label for="html">DateCreated</label><br>
                    <label for="html">Description</label><br>
                </div>
            </div>
        </div>
    </div>
    <input type="text" class="form-control input-sm" placeholder="Enter key for serach">
    <table id="lookup" class="table table-responsive table table-striped
            table-bordered table-sm" style="font-size: 10px;">
        <thead>
            <tr>
                <th style="width: 4%;"># No</th>
                <th>Lookup Type</th>
                <th>Lookup Value</th>
                <th>Description</th>
                <th style="width: 9%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1000</td>
                <td>Lookup Type</td>
                <td>Lookup Value</td>
                <td>Description</td>
                <td style="text-align: center;">
                    <div class="btn-group btn-group-xs" role="group" style="text-align: center">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#lookupDatas">
                            <span class="glyphicon glyphicon-edit" style="color:blue"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" style="color:black"></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1000</td>
                <td>Lookup Type</td>
                <td>Lookup Value</td>
                <td>Description</td>
                <td style="text-align: center;">
                    <div class="btn-group btn-group-xs" role="group" style="text-align: center">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#lookupDatas">
                            <span class="glyphicon glyphicon-edit" style="color:blue"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" style="color:black"></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1000</td>
                <td>Lookup Type</td>
                <td>Lookup Value</td>
                <td>Description</td>
                <td style="text-align: center;">
                    <div class="btn-group btn-group-xs" role="group" style="text-align: center">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#lookupDatas">
                            <span class="glyphicon glyphicon-edit" style="color:blue"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" style="color:black"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>