<nav class="breadcrumb-bar">
    <a routerLink="/home">Home</a>
    <span class="crumb-sep">/</span>
    <a routerLink="/taskList">Task List</a>
    <span class="crumb-sep">/</span>
    <span class="crumb-current">{{currentTaskState}}</span>
</nav>

<form *ngIf="sourceTaskForm" [formGroup]="sourceTaskForm" (ngSubmit)="submitSourceTask()">
    <div class="row row-equal">
        <!-- Task Details -->
        <div class="col-md-5">
            <div class="card-panel">
                <h4 class="card-panel-title panel-banner">{{currentTaskState}}</h4>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{ 'has-error': submitted && sourceTask.taskName.errors }">
                            <label class="control-label" for="taskName">Task Name</label>
                            <input type="text" class="form-control" formControlName="taskName"
                                [ngClass]="{ 'is-invalid': submitted && sourceTask.taskName.errors }" placeholder="Enter Task Name" />
                            <div *ngIf="submitted && sourceTask.taskName.errors">
                                <div *ngIf="sourceTask.taskName.errors.required" class="text-danger">
                                    Task Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="homePageId">Home Page</label>
                            <select class="form-control" formControlName="homePageId">
                                <option value="" selected>Select Home Page</option>
                                <option *ngFor="let piplineHomePage of piplineHomePageList" [value]="piplineHomePage.lookupId">{{piplineHomePage.lookupType}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': submitted && sourceTask.sourceTaskTypeId.errors }">
                    <label class="control-label" for="sourceTaskTypeId">Source TaskType</label>
                    <select class="form-control" formControlName="sourceTaskTypeId">
                        <option hidden value="" disabled selected>Select SourceType</option>
                        <option *ngFor="let sourceTaskType of sourceTaskTypes" [value]="sourceTaskType.sourceTaskTypeId">
                            {{sourceTaskType.serviceName}} ({{sourceTaskType.queueTopicPartition}})
                        </option>
                    </select>
                    <div *ngIf="submitted && sourceTask.sourceTaskTypeId.errors">
                        <div *ngIf="sourceTask.sourceTaskTypeId.errors.required" class="text-danger">
                            Source TaskType is required
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div [ngClass]="isEditMode ? 'col-md-6' : 'col-md-12' ">
                        <div class="form-group">
                            <label class="control-label" for="pipelineId">Pipeline TaskId</label>
                            <select class="form-control" formControlName="pipelineId">
                                <option value="" selected>Select Pipeline Id</option>
                                <option *ngFor="let pipelineId of pipelineIdList" [value]="pipelineId.lookupId">{{pipelineId.lookupType}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="isEditMode">
                        <div class="form-group">
                            <label class="control-label" for="taskStatus">Task Status</label>
                            <select class="form-control" formControlName="taskStatus">
                                <option *ngFor="let sourceTask of sourceTaskStatus" [value]="sourceTask.value">{{sourceTask.key}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': submitted && sourceTask.taskPayload.errors }" style="margin-bottom: 0;">
                    <label class="control-label" for="taskPayload">Task Payload</label>
                    <textarea class="form-control code-input" formControlName="taskPayload"
                        id="jsonId" rows="10"
                        placeholder="Enter the task configuration detail"
                        [ngClass]="{ 'is-invalid': submitted && sourceTask.taskPayload.errors }"></textarea>
                    <div *ngIf="submitted && sourceTask.taskPayload.errors">
                        <div *ngIf="sourceTask.taskPayload.errors.required" class="text-danger">
                            Task Payload is required
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Configuration Tags -->
        <div class="col-md-7">
            <div class="card-panel panel-fill">
                <h4 class="card-panel-title panel-banner has-action">
                    <span>Configuration Tags</span>
                    <button type="button" class="banner-link" title="Add More" (click)="tageFormsAddItem()">
                        <span class="glyphicon glyphicon-plus-sign"></span> Add More
                    </button>
                </h4>

                <div id="main-form-content" formArrayName="tagsInfo">
                    <div class="table-responsive scroll-table">
                        <table id="tbl-upload" class="table table-striped table-bordered table-hover table-modern table-compact">
                            <thead>
                                <tr>
                                    <th>Tag Key</th>
                                    <th>Tag Parent</th>
                                    <th>Tag Value</th>
                                    <th class="text-center" style="width: 96px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tag of sourceTaskForm.get('tagsInfo')['controls']; let i = index;" [formGroup]="tag">
                                    <td>
                                        <input type="text" class="form-control input-sm" name="tagKey" formControlName="tagKey" placeholder="Tag Key">
                                        <div *ngIf="submitted && tag.get('tagKey').errors">
                                            <div *ngIf="tag.get('tagKey').errors.required" class="text-danger">
                                                Tag Key is required
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm" name="tagParent" formControlName="tagParent" placeholder="Parent Tag">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm" name="tagValue" formControlName="tagValue" placeholder="Tag Value">
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-default btn-icon ic-add" title="Add Row" (click)="tageFormAddItem(i)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-icon ic-delete" title="Remove Row" (click)="tageFormRemoveItem(i)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer actions -->
    <div class="card-panel">
        <div class="toolbar" style="margin-bottom: 0;">
            <button type="button" class="btn btn-sm btn-default"
                [disabled]="sourceTaskForm.get('tagsInfo')?.invalid" (click)="submintTageForms(tageForms.value)">
                <span class="glyphicon glyphicon-export"></span> Show Xml Output
            </button>
            <span class="toolbar-spacer"></span>
            <button type="reset" class="btn btn-sm btn-default" (click)="addSourceTaskFormInit()">
                <span class="glyphicon glyphicon-erase"></span> Clear
            </button>
            <button type="submit" class="btn btn-sm btn-teal">
                <span class="glyphicon glyphicon-ok"></span> Save
            </button>
        </div>
    </div>
</form>
