<!-- breadcrumb -->
<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/jobList">Job List</a></li>
    <li class="active">Job History</li>
</ol>
<div class="row" style="margin-right: 0px;margin-left: 0px;" *ngIf="sourceJob">
    <!-- source job -->
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                Job: {{sourceJob.jobId}} - {{sourceJob.jobName}}
            </div>
            <div class="panel-body" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label id="taskStatus">
                                Status: 
                                 <span class="badge"
                                    [ngClass]="{
                                        'badge-danger': sourceJob.jobStatus === 'Delete', 
                                        'badge-warning' : sourceJob.jobStatus === 'Inactive',
                                        'badge-success' : sourceJob.jobStatus === 'Active'
                                    }">{{sourceJob.jobStatus}}
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label id="execution">
                                Execution:
                                <span class="badge" [ngClass]="sourceJob.execution == 'Manual' ? 
                                    'badge-success' : 'badge-warning'">{{sourceJob.execution}}
                                </span>
                            </label>
                        </div>
                        <div class="form-group" *ngIf="sourceJob.jobRunningStatus">
                            <label id="runningStatus">R-Status: 
                                <span class="badge"
                                    [ngClass]="{
                                        'badge-primary' : sourceJob.jobRunningStatus === 'InFlight', 
                                        'badge-info' : sourceJob.jobRunningStatus === 'Queue',
                                        'badge-start' : sourceJob.jobRunningStatus === 'Start',
                                        'badge-warning' : sourceJob.jobRunningStatus === 'Running',
                                        'badge-danger' :  sourceJob.jobRunningStatus === 'Failed',
                                        'badge-success' : sourceJob.jobRunningStatus === 'Completed',
                                        'badge-interrupt' : sourceJob.jobRunningStatus === 'Interrupt'
                                    }">{{ sourceJob.jobRunningStatus }}
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label id="lastJobRun" style="color: rgb(139, 34, 34);">
                                Created: {{sourceJob.dateCreated | date:'yyyy-MM-dd HH:mm:ss'}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label id="lastJobRun" style="color: rgb(139, 34, 34);">
                                LastRun: {{sourceJob.lastJobRun | date:'yyyy-MM-dd HH:mm:ss'}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label style="color: rgb(139, 34, 34);">
                                NextFlight: {{sourceJob?.scheduler?.recurrenceTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                         <div class="form-group">
                            <label id="completed">
                                <span class="glyphicon glyphicon-envelope"></span>
                                Complete: 
                                <span class="badge" [ngClass]="sourceJob.completeJob == true ? 
                                    'badge-success' : 'badge-warning'">{{sourceJob.completeJob}}
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label id="skip">
                                <span class="glyphicon glyphicon-envelope"></span> 
                                Skip:
                                <span class="badge" [ngClass]="sourceJob.skipJob == true ? 
                                    'badge-success' : 'badge-warning'">{{sourceJob.skipJob}}
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label id="failed">
                                <span class="glyphicon glyphicon-envelope"></span> 
                                Failed:
                                <span class="badge" [ngClass]="sourceJob.failJob == true ? 
                                    'badge-success' : 'badge-warning'">{{sourceJob.failJob}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <label id="scheduler">Scheduler:</label>
                <span *ngIf="sourceJob.scheduler?.startDate">
                    [Start: {{sourceJob.scheduler?.startDate}} {{sourceJob.scheduler?.startTime}}]
                </span>
                    <span *ngIf="sourceJob.scheduler?.recurrence">
                    [Every: {{sourceJob.scheduler?.recurrence}} {{sourceJob.scheduler?.frequency}}]
                </span>
                <span *ngIf="sourceJob.scheduler?.endDate">
                    [End: {{sourceJob.scheduler?.endDate}} {{sourceJob.scheduler?.startTime}}]
                </span>
            </div>
        </div>
    </div>
    <!-- task -->
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        Task: {{sourceJob?.taskDetail?.taskDetailId}} - {{sourceJob?.taskDetail?.taskName}}
                    </div>
                    <div class="col-sm-6" style="text-align: end;">
                        Topic: {{sourceJob?.taskDetail?.sourceTaskType?.queueTopicPartition}}  
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label id="pipelineId">
                                Pipeline Id: {{sourceJob?.taskDetail?.pipelineId}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label id="homePageId">
                                Home Page:
                                <a *ngIf="sourceJob?.taskDetail?.homePageId" [href]="sourceJob.taskDetail.homePageId" target="_blank"
                                    rel="noopener noreferrer"> Click Me
                                </a>
                                <span *ngIf="!sourceJob?.taskDetail?.homePageId">N/A</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label id="taskStatus">
                                Status: 
                                 <span class="badge"
                                    [ngClass]="{
                                        'badge-danger': sourceJob.taskDetail.taskStatus === 'Delete', 
                                        'badge-warning' : sourceJob.taskDetail.taskStatus === 'Inactive',
                                        'badge-success' : sourceJob.taskDetail.taskStatus === 'Active'
                                    }">{{sourceJob.taskDetail.taskStatus}}
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <textarea rows="5" cols="70" 
                            style="width: 528px;height: 112px;">{{sourceJob.taskDetail.taskPayload}}</textarea>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                 <label id="sourceJobStatistics">Job Statistics: </label>
                [
                    Queue: {{sourceJobStatistics.queue}},
                    Running: {{sourceJobStatistics.running}},
                    Failed: {{sourceJobStatistics.failed}},
                    Completed: {{sourceJobStatistics.completed}},
                    Skip: {{sourceJobStatistics.skip}},
                    Interrupt: {{sourceJobStatistics.interrupt}}
                ] =
                [Total: {{sourceJobStatistics.total}}]
            </div>
        </div>
    </div>
</div>

<!-- table -->
<div class="col-lg-4" *ngIf="sourceJobQueues">
    <div class="form-group">
        <label for="searchQMessageForm" *ngIf="sourceJobQueues">Total Queue Message ({{sourceJobQueues.length}})</label>
        <input type="text" id="searchQMessageForm" class="form-control input-sm"
            placeholder="Search" [(ngModel)]="searchQMessageForm"/>
    </div>
</div>
<div style="padding-left: 15px;padding-right: 15px;" *ngIf="sourceJobQueues">
    <table id="lookup" class="table table-responsive table table-striped
        table-bordered table-sm" style="font-size: 12px;">
        <thead>
            <tr>
                <th># QId</th>
                <th># Job Id</th>
                <th>Date Created</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Skip Time</th>
                <th>Run Manual</th>
                <th>Skip Manual</th>
                <th>Job Status</th>
                <th>JobStatus Message</th>
                <th style="width: 10px;">Action</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor="let queueData of sourceJobQueues | searchFilter: searchQMessageForm; let i = index">
                <td>{{queueData.jobQueueId}}</td>
                <td>{{queueData.jobId}}</td>
                <td>{{queueData.dateCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{queueData.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{queueData.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{queueData.skipTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="text-align: center;text-transform:capitalize;">
                    <span *ngIf="queueData.runManual" class="badge"
                        [ngClass]="{
                            'badge-danger' : queueData.runManual === false,
                            'badge-success' : queueData.runManual === true
                        }">{{ queueData.runManual }}
                     </span>
                </td>
                <td style="text-align: center;text-transform:capitalize;">
                    <span *ngIf="queueData.skipManual" class="badge"
                        [ngClass]="{
                            'badge-danger' : queueData.skipManual === false,
                            'badge-success' : queueData.skipManual === true
                        }">{{ queueData.skipManual }}
                     </span>
                </td>
                <td style="text-align: center;">
                    <span *ngIf="queueData.jobStatus" class="badge"
                        [ngClass]="{
                            'badge-primary' : queueData.jobStatus === 'InFlight', 
                            'badge-info' : queueData.jobStatus === 'Queue',
                            'badge-start' : queueData.jobStatus === 'Start',
                            'badge-warning' : queueData.jobStatus === 'Running',
                            'badge-danger' :  queueData.jobStatus === 'Failed',
                            'badge-success' : queueData.jobStatus === 'Completed',
                            'badge-interrupt' : queueData.jobStatus === 'Interrupt'
                        }">{{ queueData.jobStatus }}
                    </span>
                </td>
                <td>{{queueData.jobStatusMessage}}</td>
                <td style="text-align: center;">
                    <div class="btn-group btn-group-xs" role="group" style="text-align: center">
                        <button type="button" class="btn btn-default"
                            (click)="logsDeatilQMessage(queueData, i)">
                            <span class="glyphicon glyphicon-log-in" style="color: black;"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>